@import "tailwindcss";

:root {
  --background: #050030;
  --primary: #ebebed;
}

/* optional Tailwind v4 theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
}


body {
    @apply m-0 bg-background;
}

h1, h2, h3, h4, h5, h6, p, .title, .subtitle, .headline {
    @apply text-primary;
}

h1, .title {
    @apply text-3xl mb-3;
}

h2 {
    @apply text-2xl;
    
}
h3 {
    @apply text-xl;
    
}
h4 {
    @apply text-lg;
    
}
h5 {
    @apply text-base;
    
}
.content {
    @apply m-3 p-20;
}

.link {
    @apply hover:overline hover:decoration-5 hover:decoration-sky-400 ;
}