@import "tailwindcss";

:root {
  --background: #050030;
  --primary: #ebebed;
}

/* optional Tailwind v4 theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
}


body {
    @apply m-0;
}

h1, h2, h3, h4, h5, h6, p, .title, .subtitle, .headline {
    @apply text-primary;
}

.title {
    @apply text-5xl mb-3;
}

.hero-title {
    @apply text-9xl absolute inset-0 top-1/3 left-2/5;
}

.headline {
    @apply text-4xl;
}

.hero-headline {
    @apply text-lg absolute top-1/5 right-5 w-1/3 text-right;
}

.hero-subtitle {
    @apply text-6xl absolute inset-x-0 bottom-16 left-8;
}


.hero-subtitle-r {
    @apply text-6xl absolute bottom-16 right-8;
}

.subtitle {
    @apply text-5xl;
}

h2 {
    @apply text-2xl;
    
}
h3 {
    @apply text-xl;
    
}
h4 {
    @apply text-lg;
    
}
h5 {
    @apply text-base;
    
}
.content {
    @apply m-0 p-0 h-screen bg-[url(bg.jpg)] bg-cover bg-local;
}

.link {
    @apply hover:overline hover:decoration-5 hover:decoration-sky-400 ;
}


.hero, section, .content-sec {
    @apply p-20;
}

.hero {
    @apply h-8/9 backdrop-blur-2xl relative;
}

section {
    @apply h-3/4 bg-background;    
}

article {
    @apply h-3/4;
}